body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}

.screen {
  display: none;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  display: flex;
}

h1 {
  font-size: 48px;
  color: #1e90ff;
}

label {
  font-size: 24px;
  margin-bottom: 10px;
}

input[type='text'] {
  padding: 10px;
  font-size: 18px;
  width: 250px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

select {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 16px;
}
